{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">123</a></li>
        <li class="breadcrumb-item active">Ouvrir un ticket</li>
    </ol>

    <div class="row m-2">
        <div class="col-md-12">
            <h4>{{ bloc.libelle }}</h4>
            <hr />
            {{ form_errors(form) }}
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.titre) }}</div>
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            <p class="mb-0">{{ bloc.information }}</p>
                        </div>
                    </div>

                    <div class="col-md-6">{{ form_row(form.piece) }}</div>
                    {% if bloc.logiciel %}
                        <div class="col-md-6">{{ form_row(form.logiciel) }}</div>
                    {% endif %}

                    <div class="col-md-12">{{ form_row(form.contenu, {'attr':{'rows':'10', 'cols':'50'}}) }}</div>
                    {{ form_widget(form._token) }}
                </div>
                <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
            </div>
    </div>

{% endblock %}

